<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<script type="text/javascript" src="webjars/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript"
	src="webjars/bootstrap/5.1.3/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="webjars/bootstrap/5.1.3/css/bootstrap.min.js" />
</head>

<body>

	<form action="#" method="POST">


		<div class="container">

			<div class="card">


				<div class="card-block">


					<table class="table table-hover">

						<thead>

							<tr>

							</tr>

							

						</thead>

					</table>


				</div>

			</div>

		</div>

	</form>

</body>
</html>