<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport"	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>LoCar</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <link th:href="@{/style/styles.css}" rel="stylesheet" />
    <link th:href="@{/style/locadora.css}" rel="stylesheet" />
    <link th:href="@{/style/main.css}" rel="stylesheet" />
    <link th:href="@{/style/base.css}" rel="stylesheet" />
  </head>

  <body>
    <div class="geral">
      <div class="d-flex" id="wrapper">
        <div id="page-content-wrapper">
          <nav class="navbar navbar-expand-lg navbar-light border-bottom" style="background-color: #34212d;">
            <div class="container-fluid">
              <a class="nav-link" href="index"> Home </a>
              <button class="navbar-toggler" type="button"
              data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/funcionarios}"> Funcionários </a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" th:href="@{/clientes}"> Clientes </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" th:href="@{clientes}"> Veiculos </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" th:href="@{/cliente/login.html}">login </a></li>
                </ul>
              </div>
            </div>
          </nav>
          <div class="alert alert-primary" role="alert" th:text="${message}" th:if="${message}"></div>
        </div>
      </div>

      <div class="container">
        <div class="imagem-destaca">
          <img src="../static/img/carro.png" alt="">
        </div>
        <h1 class="h1"> Titulo da parada </h1>
        <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore, 
          odio saepe! Consequuntur, est, aperiam natus ad laudantium iste quia!
        </p>

        <div class="cards">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
              <div class="card h-100" style="border: 2px solid #fd5631">
                <img src="../static/img/the-sunset.jpg" class="card-img-top" alt="..." style="width: 100%; border: 1px solid #34212d; height: 300px;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100" style="border: 2px solid #fd5631" >
                <img src="../static/img/manager-black.jpg" class="card-img-top" alt="..." style="width: 100%; border: 1px solid #34212d; height: 300px;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">This is a short card.</p>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100" style="border: 2px solid #fd5631">
                <img src="../static/img/luxury-car.jpg" class="card-img-top" alt="..." style="width: 100%; border: 1px solid #34212d; height: 300px;">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text"> This is a longer card with supporting text below as a natural lead-in to additional content.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="row">
        <div class="col-sm"> 
          <h5> Redes Socias </h5>
          <ul>
            <li>Lorem ipsum dolor sit</li>
            <li>Lorem ipsum dolor sit</li>
            <li>Lorem ipsum dolor sit</li>
          </ul>  
        </div>
        <div class="col-sm"> 
          <h5> Perfil da empresa </h5>
          <ul>
            <li>Lorem ipsum dolor sit</li>
            <li>Lorem ipsum dolor sit</li>
            <li>Lorem ipsum dolor sit</li>
          </ul>   
        </div>
        <div class="col-sm">
          <h5> Sobre </h5>
          <ul>
            <li>Lorem ipsum dolor sit</li>
            <li>Lorem ipsum dolor sit</li>
            <li>Lorem ipsum dolor sit</li>
          </ul> 
        </div>
        <div class="col-sm">
          <h5> Contatos </h5>
          <ul>
            <li>Lorem ipsum dolor sit</li>
            <li>Lorem ipsum dolor sit</li>
            <li>Lorem ipsum dolor sit</li>
          </ul> 
        </div>
      </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/js/scripts.js}" src="../../static/js/scripts.js" ></script>
    <script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}" src="../../static/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" th:src="@{/js/script.js}" src="../../static/js/script.js"></script>
  </body>
</html>